package grpc

import (
	"context"

	"{{ .Project.ProjectMeta.Module }}/internal/authentication/sessions"
	"{{ .Project.ProjectMeta.Module }}/internal/domain/identity/manager"
	uploadedmediamanager "{{ .Project.ProjectMeta.Module }}/internal/domain/uploadedmedia/manager"
	identitysvc "{{ .Project.ProjectMeta.Module }}/internal/grpc/generated/services/identity"

	"{{ .Project.ProjectMeta.PlatformModule }}/observability/logging"
	"{{ .Project.ProjectMeta.PlatformModule }}/observability/tracing"
	"{{ .Project.ProjectMeta.PlatformModule }}/uploads"

	"github.com/samber/do/v2"
)

// RegisterIdentityService registers the identity gRPC service with the injector.
func RegisterIdentityService(i do.Injector) {
	do.Provide[IdentityMethodPermissions](i, func(i do.Injector) (IdentityMethodPermissions, error) {
		return ProvideMethodPermissions(), nil
	})

	do.Provide[identitysvc.IdentityServiceServer](i, func(i do.Injector) (identitysvc.IdentityServiceServer, error) {
		return NewService(
			do.MustInvoke[logging.Logger](i),
			do.MustInvoke[tracing.TracerProvider](i),
			do.MustInvoke[func(context.Context) (*sessions.ContextData, error)](i),
			do.MustInvoke[manager.IdentityDataManager](i),
			do.MustInvoke[uploadedmediamanager.UploadedMediaManager](i),
			do.MustInvoke[uploads.UploadManager](i),
		), nil
	})
}
