import Foundation

/// {{ .Entity.Name }} represents {{ withArticle .Entity.Name }}.
struct {{ .Entity.Name }}: Codable, Identifiable, Sendable {
    let id: String
{{- range .Entity.Fields }}
    var {{ camel .Name }}: {{ swiftType .Type }}
{{- end }}
{{- if .Entity.CreatedByUser }}
    let createdByUser: String
{{- end }}
{{- if .Entity.BelongsToAccount }}
    let belongsToAccount: String
{{- end }}
{{- if .Entity.BelongsTo }}
    let belongsTo{{ .Entity.BelongsTo }}: String
{{- end }}
    let createdAt: Date
    var lastUpdatedAt: Date?
    var archivedAt: Date?
}
