package auth

import (
	"net/http"
	"testing"

	mauth "{{ .OutputRepository }}/internal/auth/v1/mock"
	"{{ .OutputRepository }}/internal/config/v1"
	"{{ .OutputRepository }}/internal/encoding/v1"
	"{{ .OutputRepository }}/internal/logging/v1/noop"
	mmodels "{{ .OutputRepository }}/models/v1/mock"
)

func buildTestService(t *testing.T) *Service {
	t.Helper()

	logger := noop.ProvideNoopLogger()
	cfg := &config.ServerConfig{
		Auth: config.AuthSettings{
			CookieSecret: "BLAHBLAHBLAHPRETENDTHISISSECRET!",
		},
	}
	auth := &mauth.Authenticator{}
	userDB := &mmodels.UserDataManager{}
	oauth := &mockOAuth2ClientValidator{}
	userIDFetcher := func(*http.Request) uint64 {
		return 1
	}
	ed := encoding.ProvideResponseEncoder()

	service := ProvideAuthService(
		logger,
		cfg,
		auth,
		userDB,
		oauth,
		userIDFetcher,
		ed,
	)

	return service
}
