<script>
  import { Link } from "svelte-routing";



  let canSubmit = false;

  function evaluateSubmission() {
    canSubmit = false;
  }

  function create{{ .Name }}() {
    fetch("http://localhost/api/v1/{{ camelCase .Name }}s/", {
      method: "POST",
      mode: "cors", // no-cors, cors, *same-origin
      credentials: "include",
      headers: {
        "Content-Type": "application/json"
      },
      body: JSON.stringify({
				  // AMENDME
			  })
    }).then(function(response) {
      if (response.status != 201) {
        console.error("something has gone awry");
      
      }
    });
  }
</script>

<!-- {{ .Name }}s.svelte -->
<form
  id="{{ camelCase .Name }}Form"
  on:submit|preventDefault={create{{ .Name }}}
  style="margin-top: 7.5%; text-align: center;">
  <input type="submit" value="create" disabled={!canSubmit} />
  <Link to="/{{ camelCase .Name }}s">{{ camelCase .Name }}s list</Link>
</form>
