<script>
  import { Link, navigate } from "svelte-routing";

  import Table from "../../components/Table.svelte";

  const columns = [
    {
      title: "ID",
      key: "id"
    },

    {
      title: "Created On",
      key: "created_on"
    },
    {
      title: "Updated On",
      key: "updated_on"
    }
  ];
  let {{ camelCase .Name }}s = [];

  function delete{{ .Name }}(row) {
    if (confirm("are you sure you want to delete this {{ camelCase .Name }}?")) {
      fetch(`/api/v1/{{ camelCase .Name }}s/${row.id}`, {
        method: "DELETE"
      }).then(response => {
        if (response.status != 204) {
          console.error("something has gone awry");
        }
        {{ camelCase .Name }}s = {{ camelCase .Name }}s.filter({{ camelCase .Name }} => {
          return {{ camelCase .Name }}.id != row.id;
        });
      });
    }
  }

  function goTo{{ .Name }}(row) {
    navigate(`/{{ camelCase .Name }}s/${row.id}`, { replace: true });
  }

  fetch("/api/v1/{{ camelCase .Name }}s/")
    .then(response => response.json())
    .then(data => {
      {{ camelCase .Name }}s = data["{{ camelCase .Name }}s"];
    });
</script>

<!-- {{ .Name }}s.svelte -->

<Table
  {columns}
  tableStyle={'margin: 0px auto;'}
  rows={ {{ camelCase .Name }}s }
  rowClickFunc={goTo{{ .Name }}}
  rowDeleteFunc={delete{{ .Name }}} />
