<script>
  import { Link, navigate } from "svelte-routing";

  import Table from "../../components/Table.svelte";

  const columns = [
    {
      title: "ID",
      key: "id"
    },
    {
      title: "Name",
      key: "name"
    },
    {
      title: "Details",
      key: "details"
    },
    {
      title: "Created On",
      key: "created_on"
    },
    {
      title: "Updated On",
      key: "updated_on"
    }
  ];
  let {{ lower .Name }}s = [];

  function delete{{ camelcase .Name }}(row) {
    if (confirm("are you sure you want to delete this {{ lower .Name }}?")) {
      fetch(`/api/v1/{{ lower .Name }}s/${row.id}`, {
        method: "DELETE"
      }).then(response => {
        if (response.status != 204) {
          console.error("something has gone awry");
        }
        {{ lower .Name }}s = {{ lower .Name }}s.filter({{ lower .Name }} => {
          return {{ lower .Name }}.id != row.id;
        });
      });
    }
  }

  function goTo{{ camelcase .Name }}(row) {
    navigate(`/{{ lower .Name }}s/${row.id}`, { replace: true });
  }

  fetch("/api/v1/{{ lower .Name }}s/")
    .then(response => response.json())
    .then(data => {
      {{ lower .Name }}s = data["{{ lower .Name }}s"];
    });
</script>

<!-- {{ camelcase .Name }}s.svelte -->

<Table
  {columns}
  tableStyle={'margin: 0px auto;'}
  rows={ {{ lower .Name }}s }
  rowClickFunc={goTo{{ camelcase .Name }}}
  rowDeleteFunc={delete{{ camelcase .Name }}} />
