<script>
  import { Link } from "svelte-routing";

  let {{ camelCase .Name }} = {};

  const {{ camelCase .Name }}ID = window.location.pathname.replace("/{{ camelCase .Name }}s/", "");

  fetch(`/api/v1/{{ camelCase .Name }}s/${ {{ camelCase .Name }}ID }`)
    .then(response => response.json())
    .then(data => {
      {{ camelCase .Name }} = data;
    });
</script>

<!-- {{ .Name }}s.svelte -->

<div style="text-align: center; margin: 0px auto;">
  
  

  <Link to="/{{ camelCase .Name }}s">see all</Link>

</div>
