package {{ lower .Name }}s

import (
	"context"
	"database/sql"
	"errors"
	"net/http"
	"net/http/httptest"
	"testing"

	mencoding "{{ .OutputRepository }}/internal/encoding/v1/mock"
	mmetrics "{{ .OutputRepository }}/internal/metrics/v1/mock"
	"{{ .OutputRepository }}/models/v1"
	mmodels "{{ .OutputRepository }}/models/v1/mock"

	mockman "gitlab.com/verygoodsoftwarenotvirus/newsman/mock"

	"github.com/stretchr/testify/assert"
	"github.com/stretchr/testify/mock"
	"github.com/stretchr/testify/require"
)

func Test{{ camelcase .Name }}sService_List(T *testing.T) {
	T.Parallel()

	T.Run("happy path", func(t *testing.T) {
		s := buildTestService()
		requestingUser := &models.User{ID: 1}
		expected := &models.{{ camelcase .Name }}List{
			{{ camelcase .Name }}s: []models.{{ camelcase .Name }}{
				{
					ID:   123,
					Name: "name",
				},
			},
		}

		s.userIDFetcher = func(req *http.Request) uint64 {
			return requestingUser.ID
		}

		id := &mmodels.{{ camelcase .Name }}DataManager{}
		id.On(
			"Get{{ camelcase .Name }}s",
			mock.Anything,
			mock.Anything,
			requestingUser.ID,
		).Return(expected, nil)

		s.{{ lower .Name }}Database = id

		ed := &mencoding.EncoderDecoder{}
		ed.On("EncodeResponse", mock.Anything, mock.Anything).
			Return(nil)
		s.encoderDecoder = ed

		res := httptest.NewRecorder()
		req, err := http.NewRequest(
			http.MethodGet,
			"http://todo.verygoodsoftwarenotvirus.ru",
			nil,
		)
		require.NotNil(t, req)
		require.NoError(t, err)

		s.ListHandler(res, req)

		assert.Equal(t, res.Code, http.StatusOK)
	})

	T.Run("with no rows returned", func(t *testing.T) {
		s := buildTestService()
		requestingUser := &models.User{ID: 1}

		s.userIDFetcher = func(req *http.Request) uint64 {
			return requestingUser.ID
		}

		id := &mmodels.{{ camelcase .Name }}DataManager{}
		id.On(
			"Get{{ camelcase .Name }}s",
			mock.Anything,
			mock.Anything,
			requestingUser.ID,
		).Return((*models.{{ camelcase .Name }}List)(nil), sql.ErrNoRows)
		s.{{ lower .Name }}Database = id

		ed := &mencoding.EncoderDecoder{}
		ed.On("EncodeResponse", mock.Anything, mock.Anything).
			Return(nil)
		s.encoderDecoder = ed

		res := httptest.NewRecorder()
		req, err := http.NewRequest(
			http.MethodGet,
			"http://todo.verygoodsoftwarenotvirus.ru",
			nil,
		)
		require.NotNil(t, req)
		require.NoError(t, err)

		s.ListHandler(res, req)

		assert.Equal(t, res.Code, http.StatusOK)
	})

	T.Run("with error fetching {{ lower .Name }}s from database", func(t *testing.T) {
		s := buildTestService()
		requestingUser := &models.User{ID: 1}

		s.userIDFetcher = func(req *http.Request) uint64 {
			return requestingUser.ID
		}

		id := &mmodels.{{ camelcase .Name }}DataManager{}
		id.On(
			"Get{{ camelcase .Name }}s",
			mock.Anything,
			mock.Anything,
			requestingUser.ID,
		).Return((*models.{{ camelcase .Name }}List)(nil), errors.New("blah"))
		s.{{ lower .Name }}Database = id

		ed := &mencoding.EncoderDecoder{}
		ed.On("EncodeResponse", mock.Anything, mock.Anything).
			Return(nil)
		s.encoderDecoder = ed

		res := httptest.NewRecorder()
		req, err := http.NewRequest(
			http.MethodGet,
			"http://todo.verygoodsoftwarenotvirus.ru",
			nil,
		)
		require.NotNil(t, req)
		require.NoError(t, err)

		s.ListHandler(res, req)

		assert.Equal(t, res.Code, http.StatusInternalServerError)
	})

	T.Run("with error encoding response", func(t *testing.T) {
		s := buildTestService()
		requestingUser := &models.User{ID: 1}
		expected := &models.{{ camelcase .Name }}List{
			{{ camelcase .Name }}s: []models.{{ camelcase .Name }}{},
		}

		s.userIDFetcher = func(req *http.Request) uint64 {
			return requestingUser.ID
		}

		id := &mmodels.{{ camelcase .Name }}DataManager{}
		id.On(
			"Get{{ camelcase .Name }}s",
			mock.Anything,
			mock.Anything,
			requestingUser.ID,
		).Return(expected, nil)
		s.{{ lower .Name }}Database = id

		ed := &mencoding.EncoderDecoder{}
		ed.On("EncodeResponse", mock.Anything, mock.Anything).
			Return(errors.New("blah"))
		s.encoderDecoder = ed

		res := httptest.NewRecorder()
		req, err := http.NewRequest(
			http.MethodGet,
			"http://todo.verygoodsoftwarenotvirus.ru",
			nil,
		)
		require.NotNil(t, req)
		require.NoError(t, err)

		s.ListHandler(res, req)

		assert.Equal(t, res.Code, http.StatusOK)
	})
}

func Test{{ camelcase .Name }}sService_Create(T *testing.T) {
	T.Parallel()

	T.Run("happy path", func(t *testing.T) {
		s := buildTestService()
		requestingUser := &models.User{ID: 1}
		expected := &models.{{ camelcase .Name }}{
			ID:   123,
			Name: "name",
		}

		mc := &mmetrics.UnitCounter{}
		mc.On("Increment", mock.Anything)
		s.{{ lower .Name }}Counter = mc

		r := &mockman.Reporter{}
		r.On("Report", mock.Anything).Return()
		s.reporter = r

		s.userIDFetcher = func(req *http.Request) uint64 {
			return requestingUser.ID
		}

		id := &mmodels.{{ camelcase .Name }}DataManager{}
		id.On(
			"Create{{ camelcase .Name }}",
			mock.Anything,
			mock.Anything,
		).Return(expected, nil)
		s.{{ lower .Name }}Database = id

		ed := &mencoding.EncoderDecoder{}
		ed.On("EncodeResponse", mock.Anything, mock.Anything).
			Return(nil)
		s.encoderDecoder = ed

		res := httptest.NewRecorder()
		req, err := http.NewRequest(
			http.MethodGet,
			"http://todo.verygoodsoftwarenotvirus.ru",
			nil,
		)
		require.NotNil(t, req)
		require.NoError(t, err)

		exampleInput := &models.{{ camelcase .Name }}CreationInput{
			Name: expected.Name,
		}
		req = req.WithContext(context.WithValue(req.Context(), CreateMiddlewareCtxKey, exampleInput))

		s.CreateHandler(res, req)

		assert.Equal(t, res.Code, http.StatusCreated)
	})

	T.Run("without input attached", func(t *testing.T) {
		s := buildTestService()
		requestingUser := &models.User{ID: 1}

		s.userIDFetcher = func(req *http.Request) uint64 {
			return requestingUser.ID
		}

		ed := &mencoding.EncoderDecoder{}
		ed.On("EncodeResponse", mock.Anything, mock.Anything).
			Return(nil)
		s.encoderDecoder = ed

		res := httptest.NewRecorder()
		req, err := http.NewRequest(
			http.MethodGet,
			"http://todo.verygoodsoftwarenotvirus.ru",
			nil,
		)
		require.NotNil(t, req)
		require.NoError(t, err)

		s.CreateHandler(res, req)

		assert.Equal(t, res.Code, http.StatusBadRequest)
	})

	T.Run("with error creating {{ lower .Name }}", func(t *testing.T) {
		s := buildTestService()
		requestingUser := &models.User{ID: 1}
		expected := &models.{{ camelcase .Name }}{
			ID:   123,
			Name: "name",
		}

		s.userIDFetcher = func(req *http.Request) uint64 {
			return requestingUser.ID
		}

		id := &mmodels.{{ camelcase .Name }}DataManager{}
		id.On(
			"Create{{ camelcase .Name }}",
			mock.Anything,
			mock.Anything,
		).Return((*models.{{ camelcase .Name }})(nil), errors.New("blah"))
		s.{{ lower .Name }}Database = id

		ed := &mencoding.EncoderDecoder{}
		ed.On("EncodeResponse", mock.Anything, mock.Anything).
			Return(nil)
		s.encoderDecoder = ed

		res := httptest.NewRecorder()
		req, err := http.NewRequest(
			http.MethodGet,
			"http://todo.verygoodsoftwarenotvirus.ru",
			nil,
		)
		require.NotNil(t, req)
		require.NoError(t, err)

		exampleInput := &models.{{ camelcase .Name }}CreationInput{
			Name: expected.Name,
		}
		req = req.WithContext(context.WithValue(req.Context(), CreateMiddlewareCtxKey, exampleInput))

		s.CreateHandler(res, req)

		assert.Equal(t, res.Code, http.StatusInternalServerError)
	})

	T.Run("with error encoding response", func(t *testing.T) {
		s := buildTestService()
		requestingUser := &models.User{ID: 1}
		expected := &models.{{ camelcase .Name }}{
			ID:   123,
			Name: "name",
		}

		mc := &mmetrics.UnitCounter{}
		mc.On("Increment", mock.Anything)
		s.{{ lower .Name }}Counter = mc

		r := &mockman.Reporter{}
		r.On("Report", mock.Anything).Return()
		s.reporter = r

		s.userIDFetcher = func(req *http.Request) uint64 {
			return requestingUser.ID
		}

		id := &mmodels.{{ camelcase .Name }}DataManager{}
		id.On(
			"Create{{ camelcase .Name }}",
			mock.Anything,
			mock.Anything,
		).Return(expected, nil)
		s.{{ lower .Name }}Database = id

		ed := &mencoding.EncoderDecoder{}
		ed.On("EncodeResponse", mock.Anything, mock.Anything).
			Return(errors.New("blah"))
		s.encoderDecoder = ed

		res := httptest.NewRecorder()
		req, err := http.NewRequest(
			http.MethodGet,
			"http://todo.verygoodsoftwarenotvirus.ru",
			nil,
		)
		require.NotNil(t, req)
		require.NoError(t, err)

		exampleInput := &models.{{ camelcase .Name }}CreationInput{
			Name: expected.Name,
		}
		req = req.WithContext(context.WithValue(req.Context(), CreateMiddlewareCtxKey, exampleInput))

		s.CreateHandler(res, req)

		assert.Equal(t, res.Code, http.StatusCreated)
	})
}

func Test{{ camelcase .Name }}sService_Read(T *testing.T) {
	T.Parallel()

	T.Run("happy path", func(t *testing.T) {
		s := buildTestService()
		requestingUser := &models.User{ID: 1}
		expected := &models.{{ camelcase .Name }}{
			ID:   123,
			Name: "name",
		}

		s.userIDFetcher = func(req *http.Request) uint64 {
			return requestingUser.ID
		}

		s.{{ lower .Name }}IDFetcher = func(req *http.Request) uint64 {
			return expected.ID
		}

		id := &mmodels.{{ camelcase .Name }}DataManager{}
		id.On(
			"Get{{ camelcase .Name }}",
			mock.Anything,
			expected.ID,
			requestingUser.ID,
		).Return(expected, nil)
		s.{{ lower .Name }}Database = id

		ed := &mencoding.EncoderDecoder{}
		ed.On("EncodeResponse", mock.Anything, mock.Anything).
			Return(nil)
		s.encoderDecoder = ed

		res := httptest.NewRecorder()
		req, err := http.NewRequest(
			http.MethodGet,
			"http://todo.verygoodsoftwarenotvirus.ru",
			nil,
		)
		require.NotNil(t, req)
		require.NoError(t, err)

		s.ReadHandler(res, req)

		assert.Equal(t, res.Code, http.StatusOK)
	})

	T.Run("with no such {{ lower .Name }} in database", func(t *testing.T) {
		s := buildTestService()
		requestingUser := &models.User{ID: 1}
		expected := &models.{{ camelcase .Name }}{
			ID:   123,
			Name: "name",
		}

		s.userIDFetcher = func(req *http.Request) uint64 {
			return requestingUser.ID
		}

		s.{{ lower .Name }}IDFetcher = func(req *http.Request) uint64 {
			return expected.ID
		}

		id := &mmodels.{{ camelcase .Name }}DataManager{}
		id.On(
			"Get{{ camelcase .Name }}",
			mock.Anything,
			expected.ID,
			requestingUser.ID,
		).Return((*models.{{ camelcase .Name }})(nil), sql.ErrNoRows)
		s.{{ lower .Name }}Database = id

		res := httptest.NewRecorder()
		req, err := http.NewRequest(
			http.MethodGet,
			"http://todo.verygoodsoftwarenotvirus.ru",
			nil,
		)
		require.NotNil(t, req)
		require.NoError(t, err)

		s.ReadHandler(res, req)

		assert.Equal(t, res.Code, http.StatusNotFound)
	})

	T.Run("with error fetching {{ lower .Name }} from database", func(t *testing.T) {
		s := buildTestService()
		requestingUser := &models.User{ID: 1}
		expected := &models.{{ camelcase .Name }}{
			ID:   123,
			Name: "name",
		}

		s.userIDFetcher = func(req *http.Request) uint64 {
			return requestingUser.ID
		}

		s.{{ lower .Name }}IDFetcher = func(req *http.Request) uint64 {
			return expected.ID
		}

		id := &mmodels.{{ camelcase .Name }}DataManager{}
		id.On(
			"Get{{ camelcase .Name }}",
			mock.Anything,
			expected.ID,
			requestingUser.ID,
		).Return((*models.{{ camelcase .Name }})(nil), errors.New("blah"))
		s.{{ lower .Name }}Database = id

		res := httptest.NewRecorder()
		req, err := http.NewRequest(
			http.MethodGet,
			"http://todo.verygoodsoftwarenotvirus.ru",
			nil,
		)
		require.NotNil(t, req)
		require.NoError(t, err)

		s.ReadHandler(res, req)

		assert.Equal(t, res.Code, http.StatusInternalServerError)
	})

	T.Run("with error encoding response", func(t *testing.T) {
		s := buildTestService()
		requestingUser := &models.User{ID: 1}
		expected := &models.{{ camelcase .Name }}{
			ID:   123,
			Name: "name",
		}

		s.userIDFetcher = func(req *http.Request) uint64 {
			return requestingUser.ID
		}

		s.{{ lower .Name }}IDFetcher = func(req *http.Request) uint64 {
			return expected.ID
		}

		id := &mmodels.{{ camelcase .Name }}DataManager{}
		id.On(
			"Get{{ camelcase .Name }}",
			mock.Anything,
			expected.ID,
			requestingUser.ID,
		).Return(expected, nil)
		s.{{ lower .Name }}Database = id

		ed := &mencoding.EncoderDecoder{}
		ed.On("EncodeResponse", mock.Anything, mock.Anything).
			Return(errors.New("blah"))
		s.encoderDecoder = ed

		res := httptest.NewRecorder()
		req, err := http.NewRequest(
			http.MethodGet,
			"http://todo.verygoodsoftwarenotvirus.ru",
			nil,
		)
		require.NotNil(t, req)
		require.NoError(t, err)

		s.ReadHandler(res, req)

		assert.Equal(t, res.Code, http.StatusOK)
	})
}

func Test{{ camelcase .Name }}sService_Update(T *testing.T) {
	T.Parallel()

	T.Run("happy path", func(t *testing.T) {
		s := buildTestService()
		requestingUser := &models.User{ID: 1}
		expected := &models.{{ camelcase .Name }}{
			ID:   123,
			Name: "name",
		}

		mc := &mmetrics.UnitCounter{}
		mc.On("Increment", mock.Anything)
		s.{{ lower .Name }}Counter = mc

		r := &mockman.Reporter{}
		r.On("Report", mock.Anything).Return()
		s.reporter = r

		s.userIDFetcher = func(req *http.Request) uint64 {
			return requestingUser.ID
		}

		s.{{ lower .Name }}IDFetcher = func(req *http.Request) uint64 {
			return expected.ID
		}

		id := &mmodels.{{ camelcase .Name }}DataManager{}

		id.On(
			"Get{{ camelcase .Name }}",
			mock.Anything,
			expected.ID,
			requestingUser.ID,
		).Return(expected, nil)

		id.On(
			"Update{{ camelcase .Name }}",
			mock.Anything,
			mock.Anything,
		).Return(nil)

		s.{{ lower .Name }}Database = id

		ed := &mencoding.EncoderDecoder{}
		ed.On("EncodeResponse", mock.Anything, mock.Anything).
			Return(nil)
		s.encoderDecoder = ed

		res := httptest.NewRecorder()
		req, err := http.NewRequest(
			http.MethodGet,
			"http://todo.verygoodsoftwarenotvirus.ru",
			nil,
		)
		require.NotNil(t, req)
		require.NoError(t, err)

		exampleInput := &models.{{ camelcase .Name }}UpdateInput{
			Name: expected.Name,
		}
		req = req.WithContext(context.WithValue(req.Context(), UpdateMiddlewareCtxKey, exampleInput))

		s.UpdateHandler(res, req)

		assert.Equal(t, res.Code, http.StatusOK)
	})

	T.Run("without update input", func(t *testing.T) {
		s := buildTestService()

		res := httptest.NewRecorder()
		req, err := http.NewRequest(
			http.MethodGet,
			"http://todo.verygoodsoftwarenotvirus.ru",
			nil,
		)
		require.NotNil(t, req)
		require.NoError(t, err)

		s.UpdateHandler(res, req)

		assert.Equal(t, res.Code, http.StatusBadRequest)
	})

	T.Run("with no rows fetching {{ lower .Name }}", func(t *testing.T) {
		s := buildTestService()
		requestingUser := &models.User{ID: 1}
		expected := &models.{{ camelcase .Name }}{
			ID:   123,
			Name: "name",
		}

		s.userIDFetcher = func(req *http.Request) uint64 {
			return requestingUser.ID
		}

		s.{{ lower .Name }}IDFetcher = func(req *http.Request) uint64 {
			return expected.ID
		}

		id := &mmodels.{{ camelcase .Name }}DataManager{}

		id.On(
			"Get{{ camelcase .Name }}",
			mock.Anything,
			expected.ID,
			requestingUser.ID,
		).Return((*models.{{ camelcase .Name }})(nil), sql.ErrNoRows)

		s.{{ lower .Name }}Database = id

		res := httptest.NewRecorder()
		req, err := http.NewRequest(
			http.MethodGet,
			"http://todo.verygoodsoftwarenotvirus.ru",
			nil,
		)
		require.NotNil(t, req)
		require.NoError(t, err)

		exampleInput := &models.{{ camelcase .Name }}UpdateInput{
			Name: expected.Name,
		}
		req = req.WithContext(context.WithValue(req.Context(), UpdateMiddlewareCtxKey, exampleInput))

		s.UpdateHandler(res, req)

		assert.Equal(t, res.Code, http.StatusNotFound)
	})

	T.Run("with error fetching {{ lower .Name }}", func(t *testing.T) {
		s := buildTestService()
		requestingUser := &models.User{ID: 1}
		expected := &models.{{ camelcase .Name }}{
			ID:   123,
			Name: "name",
		}

		s.userIDFetcher = func(req *http.Request) uint64 {
			return requestingUser.ID
		}

		s.{{ lower .Name }}IDFetcher = func(req *http.Request) uint64 {
			return expected.ID
		}

		id := &mmodels.{{ camelcase .Name }}DataManager{}

		id.On(
			"Get{{ camelcase .Name }}",
			mock.Anything,
			expected.ID,
			requestingUser.ID,
		).Return((*models.{{ camelcase .Name }})(nil), errors.New("blah"))

		s.{{ lower .Name }}Database = id

		res := httptest.NewRecorder()
		req, err := http.NewRequest(
			http.MethodGet,
			"http://todo.verygoodsoftwarenotvirus.ru",
			nil,
		)
		require.NotNil(t, req)
		require.NoError(t, err)

		exampleInput := &models.{{ camelcase .Name }}UpdateInput{
			Name: expected.Name,
		}
		req = req.WithContext(context.WithValue(req.Context(), UpdateMiddlewareCtxKey, exampleInput))

		s.UpdateHandler(res, req)

		assert.Equal(t, res.Code, http.StatusInternalServerError)
	})

	T.Run("with error updating {{ lower .Name }}", func(t *testing.T) {
		s := buildTestService()
		requestingUser := &models.User{ID: 1}
		expected := &models.{{ camelcase .Name }}{
			ID:   123,
			Name: "name",
		}

		mc := &mmetrics.UnitCounter{}
		mc.On("Increment", mock.Anything)
		s.{{ lower .Name }}Counter = mc

		r := &mockman.Reporter{}
		r.On("Report", mock.Anything).Return()
		s.reporter = r

		s.userIDFetcher = func(req *http.Request) uint64 {
			return requestingUser.ID
		}

		s.{{ lower .Name }}IDFetcher = func(req *http.Request) uint64 {
			return expected.ID
		}

		id := &mmodels.{{ camelcase .Name }}DataManager{}

		id.On(
			"Get{{ camelcase .Name }}",
			mock.Anything,
			expected.ID,
			requestingUser.ID,
		).Return(expected, nil)

		id.On(
			"Update{{ camelcase .Name }}",
			mock.Anything,
			mock.Anything,
		).Return(errors.New("blah"))

		s.{{ lower .Name }}Database = id

		ed := &mencoding.EncoderDecoder{}
		ed.On("EncodeResponse", mock.Anything, mock.Anything).
			Return(nil)
		s.encoderDecoder = ed

		res := httptest.NewRecorder()
		req, err := http.NewRequest(
			http.MethodGet,
			"http://todo.verygoodsoftwarenotvirus.ru",
			nil,
		)
		require.NotNil(t, req)
		require.NoError(t, err)

		exampleInput := &models.{{ camelcase .Name }}UpdateInput{
			Name: expected.Name,
		}
		req = req.WithContext(context.WithValue(req.Context(), UpdateMiddlewareCtxKey, exampleInput))

		s.UpdateHandler(res, req)

		assert.Equal(t, res.Code, http.StatusInternalServerError)
	})

	T.Run("with error encoding response", func(t *testing.T) {
		s := buildTestService()
		requestingUser := &models.User{ID: 1}
		expected := &models.{{ camelcase .Name }}{
			ID:   123,
			Name: "name",
		}

		mc := &mmetrics.UnitCounter{}
		mc.On("Increment", mock.Anything)
		s.{{ lower .Name }}Counter = mc

		r := &mockman.Reporter{}
		r.On("Report", mock.Anything).Return()
		s.reporter = r

		s.userIDFetcher = func(req *http.Request) uint64 {
			return requestingUser.ID
		}

		s.{{ lower .Name }}IDFetcher = func(req *http.Request) uint64 {
			return expected.ID
		}

		id := &mmodels.{{ camelcase .Name }}DataManager{}

		id.On(
			"Get{{ camelcase .Name }}",
			mock.Anything,
			expected.ID,
			requestingUser.ID,
		).Return(expected, nil)

		id.On(
			"Update{{ camelcase .Name }}",
			mock.Anything,
			mock.Anything,
		).Return(nil)

		s.{{ lower .Name }}Database = id

		ed := &mencoding.EncoderDecoder{}
		ed.On("EncodeResponse", mock.Anything, mock.Anything).
			Return(errors.New("blah"))
		s.encoderDecoder = ed

		res := httptest.NewRecorder()
		req, err := http.NewRequest(
			http.MethodGet,
			"http://todo.verygoodsoftwarenotvirus.ru",
			nil,
		)
		require.NotNil(t, req)
		require.NoError(t, err)

		exampleInput := &models.{{ camelcase .Name }}UpdateInput{
			Name: expected.Name,
		}
		req = req.WithContext(context.WithValue(req.Context(), UpdateMiddlewareCtxKey, exampleInput))

		s.UpdateHandler(res, req)

		assert.Equal(t, res.Code, http.StatusOK)
	})
}

func Test{{ camelcase .Name }}sService_Archive(T *testing.T) {
	T.Parallel()

	T.Run("happy path", func(t *testing.T) {
		s := buildTestService()
		requestingUser := &models.User{ID: 1}
		expected := &models.{{ camelcase .Name }}{
			ID:   123,
			Name: "name",
		}

		r := &mockman.Reporter{}
		r.On("Report", mock.Anything).Return()
		s.reporter = r

		mc := &mmetrics.UnitCounter{}
		mc.On("Decrement").Return()
		s.{{ lower .Name }}Counter = mc

		s.userIDFetcher = func(req *http.Request) uint64 {
			return requestingUser.ID
		}

		s.{{ lower .Name }}IDFetcher = func(req *http.Request) uint64 {
			return expected.ID
		}

		id := &mmodels.{{ camelcase .Name }}DataManager{}
		id.On(
			"Archive{{ camelcase .Name }}",
			mock.Anything,
			expected.ID,
			requestingUser.ID,
		).Return(nil)
		s.{{ lower .Name }}Database = id

		ed := &mencoding.EncoderDecoder{}
		ed.On("EncodeResponse", mock.Anything, mock.Anything).
			Return(nil)
		s.encoderDecoder = ed

		res := httptest.NewRecorder()
		req, err := http.NewRequest(
			http.MethodGet,
			"http://todo.verygoodsoftwarenotvirus.ru",
			nil,
		)
		require.NotNil(t, req)
		require.NoError(t, err)

		s.ArchiveHandler(res, req)

		assert.Equal(t, res.Code, http.StatusNoContent)
	})

	T.Run("with no {{ lower .Name }} in database", func(t *testing.T) {
		s := buildTestService()
		requestingUser := &models.User{ID: 1}
		expected := &models.{{ camelcase .Name }}{
			ID:   123,
			Name: "name",
		}

		s.userIDFetcher = func(req *http.Request) uint64 {
			return requestingUser.ID
		}

		s.{{ lower .Name }}IDFetcher = func(req *http.Request) uint64 {
			return expected.ID
		}

		id := &mmodels.{{ camelcase .Name }}DataManager{}
		id.On(
			"Archive{{ camelcase .Name }}",
			mock.Anything,
			expected.ID,
			requestingUser.ID,
		).Return(sql.ErrNoRows)
		s.{{ lower .Name }}Database = id

		res := httptest.NewRecorder()
		req, err := http.NewRequest(
			http.MethodGet,
			"http://todo.verygoodsoftwarenotvirus.ru",
			nil,
		)
		require.NotNil(t, req)
		require.NoError(t, err)

		s.ArchiveHandler(res, req)

		assert.Equal(t, res.Code, http.StatusNotFound)
	})

	T.Run("with error reading from database", func(t *testing.T) {
		s := buildTestService()
		requestingUser := &models.User{ID: 1}
		expected := &models.{{ camelcase .Name }}{
			ID:   123,
			Name: "name",
		}

		s.userIDFetcher = func(req *http.Request) uint64 {
			return requestingUser.ID
		}

		s.{{ lower .Name }}IDFetcher = func(req *http.Request) uint64 {
			return expected.ID
		}

		id := &mmodels.{{ camelcase .Name }}DataManager{}
		id.On(
			"Archive{{ camelcase .Name }}",
			mock.Anything,
			expected.ID,
			requestingUser.ID,
		).Return(errors.New("blah"))
		s.{{ lower .Name }}Database = id

		res := httptest.NewRecorder()
		req, err := http.NewRequest(
			http.MethodGet,
			"http://todo.verygoodsoftwarenotvirus.ru",
			nil,
		)
		require.NotNil(t, req)
		require.NoError(t, err)

		s.ArchiveHandler(res, req)

		assert.Equal(t, res.Code, http.StatusInternalServerError)
	})
}
