package {{ .PluralLowercase }}

import (
	"{{ .OutputRepository }}/database/v1"
	"{{ .OutputRepository }}/models/v1"

	"gitlab.com/verygoodsoftwarenotvirus/newsman"

	"github.com/google/wire"
)

var (
	// Providers is our collection of what we provide to other services
	Providers = wire.NewSet(
		Provide{{ .PluralTitlecase }}Service,
		Provide{{ .SingularTitlecase }}DataManager,
		ProvideReporter,
		Provide{{ .SingularTitlecase }}DataServer,
	)
)

// Provide{{ .SingularTitlecase }}DataManager turns a database into an {{ .SingularTitlecase }}DataManager
func Provide{{ .SingularTitlecase }}DataManager(db database.Database) models.{{ .SingularTitlecase }}DataManager {
	return db
}

// Provide{{ .SingularTitlecase }}DataServer is an arbitrary function for dependency injection's sake
func Provide{{ .SingularTitlecase }}DataServer(s *Service) models.{{ .SingularTitlecase }}DataServer {
	return s
}

// ProvideReporter is an obligatory function that hopefully wire will eliminate for me one day
func ProvideReporter(n *newsman.Newsman) newsman.Reporter {
	return n
}
