package {{ lower .Name }}s

import (
	"{{ .OutputRepository }}/database/v1"
	"{{ .OutputRepository }}/models/v1"

	"github.com/google/wire"
)

var (
	// Providers is our collection of what we provide to other services
	Providers = wire.NewSet(
		Provide{{ camelcase .Name }}sService,
		Provide{{ camelcase .Name }}DataManager,
		Provide{{ camelcase .Name }}DataServer,
	)
)

// Provide{{ camelcase .Name }}DataManager turns a database into an {{ camelcase .Name }}DataManager
func Provide{{ camelcase .Name }}DataManager(db database.Database) models.{{ camelcase .Name }}DataManager {
	return db
}

// Provide{{ camelcase .Name }}DataServer is an arbitrary function for dependency injection's sake
func Provide{{ camelcase .Name }}DataServer(s *Service) models.{{ camelcase .Name }}DataServer {
	return s
}
