package indexing

import (
	"{{ .Project.ProjectMeta.Module }}/internal/domain/identity"

	"{{ .Project.ProjectMeta.PlatformModule }}/search/text/indexing"
)

const (
	// IndexTypeUsers represents the users index.
	IndexTypeUsers = "users"
)

func BuildCoreDataIndexingFunctions(dataManager identity.Repository) map[string]indexing.Function {
	return map[string]indexing.Function{
		IndexTypeUsers: dataManager.GetUserIDsThatNeedSearchIndexing,
	}
}
