package keys

const (
	idSuffix = ".id"
{{ range sortedEntities .Domain.Entities }}
	// {{ .Name }}Key is the standard key for referring to {{ .Name | withArticle }}.
	{{ .Name }}Key = "{{ .Name | snake }}"
	// {{ .Name }}IDKey is the standard key for referring to {{ .Name | withArticle }}'s ID.
	{{ .Name }}IDKey = {{ .Name }}Key + idSuffix
{{ end }})
