package mock

import (
	"context"

	types "{{ .Project.ProjectMeta.Module }}/internal/domain/{{ .Domain.Name }}"

	"{{ .Project.ProjectMeta.PlatformModule }}/database/filtering"

	"github.com/stretchr/testify/mock"
)

// {{ plural .Entity.Name }}DataManager is a mock implementation of the manager.{{ plural .Entity.Name }}DataManager interface.
type {{ plural .Entity.Name }}DataManager struct {
	mock.Mock
}

// Get{{ .Entity.Name }} implements the interface.
func (m *{{ plural .Entity.Name }}DataManager) Get{{ .Entity.Name }}(ctx context.Context, {{ camel .Entity.Name }}ID string) (*types.{{ .Entity.Name }}, error) {
	args := m.Called(ctx, {{ camel .Entity.Name }}ID)
	return args.Get(0).(*types.{{ .Entity.Name }}), args.Error(1)
}

// Get{{ plural .Entity.Name }} implements the interface.
func (m *{{ plural .Entity.Name }}DataManager) Get{{ plural .Entity.Name }}(ctx context.Context, filter *filtering.QueryFilter) (*filtering.QueryFilteredResult[types.{{ .Entity.Name }}], error) {
	args := m.Called(ctx, filter)
	return args.Get(0).(*filtering.QueryFilteredResult[types.{{ .Entity.Name }}]), args.Error(1)
}

{{- if .Entity.BelongsToAccount }}

// Get{{ plural .Entity.Name }}ForAccount implements the interface.
func (m *{{ plural .Entity.Name }}DataManager) Get{{ plural .Entity.Name }}ForAccount(ctx context.Context, accountID string, filter *filtering.QueryFilter) (*filtering.QueryFilteredResult[types.{{ .Entity.Name }}], error) {
	args := m.Called(ctx, accountID, filter)
	return args.Get(0).(*filtering.QueryFilteredResult[types.{{ .Entity.Name }}]), args.Error(1)
}
{{- end }}

// Create{{ .Entity.Name }} implements the interface.
func (m *{{ plural .Entity.Name }}DataManager) Create{{ .Entity.Name }}(ctx context.Context, input *types.{{ .Entity.Name }}DatabaseCreationInput) (*types.{{ .Entity.Name }}, error) {
	args := m.Called(ctx, input)
	return args.Get(0).(*types.{{ .Entity.Name }}), args.Error(1)
}

// Update{{ .Entity.Name }} implements the interface.
func (m *{{ plural .Entity.Name }}DataManager) Update{{ .Entity.Name }}(ctx context.Context, {{ camel .Entity.Name }} *types.{{ .Entity.Name }}) error {
	return m.Called(ctx, {{ camel .Entity.Name }}).Error(0)
}

// Archive{{ .Entity.Name }} implements the interface.
func (m *{{ plural .Entity.Name }}DataManager) Archive{{ .Entity.Name }}(ctx context.Context, {{ camel .Entity.Name }}ID string) error {
	return m.Called(ctx, {{ camel .Entity.Name }}ID).Error(0)
}
