package config

import (
	"context"

	validation "github.com/go-ozzo/ozzo-validation/v4"
)

// runMode describes what method of operation the server is under.
type runMode string

const (
	// DevelopmentRunMode is the run mode for a development environment.
	DevelopmentRunMode runMode = "development"
	// TestingRunMode is the run mode for a testing environment.
	TestingRunMode runMode = "testing"
	// ProductionRunMode is the run mode for a production environment.
	ProductionRunMode runMode = "production"
)

// MetaSettings is primarily used for development.
type MetaSettings struct {
	RunMode runMode `env:"RUN_MODE" json:"runMode"`
	Debug   bool    `env:"DEBUG"    json:"debug"`
}

var _ validation.ValidatableWithContext = (*MetaSettings)(nil)

// ValidateWithContext validates a MetaSettings struct.
func (s *MetaSettings) ValidateWithContext(ctx context.Context) error {
	return validation.ValidateStructWithContext(ctx, s,
		validation.Field(&s.RunMode, validation.In(TestingRunMode, DevelopmentRunMode, ProductionRunMode)),
	)
}
