package grpc

import (
	"testing"

	webhookmgrmock "{{ .Project.ProjectMeta.Module }}/internal/domain/webhooks/manager/mock"
	webhookssvc "{{ .Project.ProjectMeta.Module }}/internal/grpc/generated/services/webhooks"

	loggingnoop "github.com/primandproper/platform/observability/logging/noop"
	tracingnoop "github.com/primandproper/platform/observability/tracing/noop"

	"github.com/stretchr/testify/assert"
)

func TestNewService(t *testing.T) {
	t.Parallel()

	t.Run("standard", func(t *testing.T) {
		t.Parallel()

		logger := loggingnoop.NewLogger()
		tracerProvider := tracingnoop.NewTracerProvider()
		webhookManager := &webhookmgrmock.WebhookDataManager{}

		service := NewService(logger, tracerProvider, webhookManager)

		assert.NotNil(t, service)
		assert.Implements(t, (*webhookssvc.WebhooksServiceServer)(nil), service)
	})
}
