package dbclient

import (
	"context"
	"testing"

	"{{ .OutputRepository }}/models/v1"

	"github.com/stretchr/testify/assert"
	"github.com/stretchr/testify/mock"
)

func TestClient_Get{{ .Name }}(T *testing.T) {
	T.Parallel()

	T.Run("obligatory", func(t *testing.T) {
		example{{ .Name }}ID := uint64(123)
		exampleUserID := uint64(123)
		expected := &models.{{ .Name }}{}

		c, mockDB := buildTestClient()
		mockDB.{{ .Name }}DataManager.
			On("Get{{ .Name }}", mock.Anything, example{{ .Name }}ID, exampleUserID).
			Return(expected, nil)

		actual, err := c.Get{{ .Name }}(context.Background(), example{{ .Name }}ID, exampleUserID)
		assert.NoError(t, err)
		assert.Equal(t, expected, actual)

		mockDB.AssertExpectations(t)
	})
}

func TestClient_Get{{ .Name }}Count(T *testing.T) {
	T.Parallel()

	T.Run("obligatory", func(t *testing.T) {
		expected := uint64(321)
		exampleUserID := uint64(123)

		c, mockDB := buildTestClient()
		mockDB.{{ .Name }}DataManager.
			On("Get{{ .Name }}Count", mock.Anything, models.DefaultQueryFilter(), exampleUserID).
			Return(expected, nil)

		actual, err := c.Get{{ .Name }}Count(context.Background(), models.DefaultQueryFilter(), exampleUserID)
		assert.NoError(t, err)
		assert.Equal(t, expected, actual)

		mockDB.AssertExpectations(t)
	})

	T.Run("with nil filter", func(t *testing.T) {
		expected := uint64(321)
		exampleUserID := uint64(123)

		c, mockDB := buildTestClient()
		mockDB.{{ .Name }}DataManager.
			On("Get{{ .Name }}Count", mock.Anything, (*models.QueryFilter)(nil), exampleUserID).
			Return(expected, nil)

		actual, err := c.Get{{ .Name }}Count(context.Background(), nil, exampleUserID)
		assert.NoError(t, err)
		assert.Equal(t, expected, actual)

		mockDB.AssertExpectations(t)
	})
}

func TestClient_GetAll{{ .Name }}sCount(T *testing.T) {
	T.Parallel()

	T.Run("obligatory", func(t *testing.T) {
		expected := uint64(321)
		c, mockDB := buildTestClient()
		mockDB.{{ .Name }}DataManager.
			On("GetAll{{ .Name }}sCount", mock.Anything).
			Return(expected, nil)

		actual, err := c.GetAll{{ .Name }}sCount(context.Background())
		assert.NoError(t, err)
		assert.Equal(t, expected, actual)

		mockDB.AssertExpectations(t)
	})
}

func TestClient_Get{{ .Name }}s(T *testing.T) {
	T.Parallel()

	T.Run("obligatory", func(t *testing.T) {
		exampleUserID := uint64(123)
		c, mockDB := buildTestClient()
		expected := &models.{{ .Name }}List{}

		mockDB.{{ .Name }}DataManager.
			On("Get{{ .Name }}s", mock.Anything, models.DefaultQueryFilter(), exampleUserID).
			Return(expected, nil)

		actual, err := c.Get{{ .Name }}s(context.Background(), models.DefaultQueryFilter(), exampleUserID)
		assert.NoError(t, err)
		assert.Equal(t, expected, actual)

		mockDB.AssertExpectations(t)
	})

	T.Run("with nil filter", func(t *testing.T) {
		exampleUserID := uint64(123)
		c, mockDB := buildTestClient()
		expected := &models.{{ .Name }}List{}

		mockDB.{{ .Name }}DataManager.
			On("Get{{ .Name }}s", mock.Anything, (*models.QueryFilter)(nil), exampleUserID).
			Return(expected, nil)

		actual, err := c.Get{{ .Name }}s(context.Background(), nil, exampleUserID)
		assert.NoError(t, err)
		assert.Equal(t, expected, actual)

		mockDB.AssertExpectations(t)
	})
}

func TestClient_Create{{ .Name }}(T *testing.T) {
	T.Parallel()

	T.Run("obligatory", func(t *testing.T) {
		exampleInput := &models.{{ .Name }}CreationInput{}
		c, mockDB := buildTestClient()
		expected := &models.{{ .Name }}{}

		mockDB.{{ .Name }}DataManager.
			On("Create{{ .Name }}", mock.Anything, exampleInput).
			Return(expected, nil)

		actual, err := c.Create{{ .Name }}(context.Background(), exampleInput)
		assert.NoError(t, err)
		assert.Equal(t, expected, actual)

		mockDB.AssertExpectations(t)
	})
}

func TestClient_Update{{ .Name }}(T *testing.T) {
	T.Parallel()

	T.Run("obligatory", func(t *testing.T) {
		exampleInput := &models.{{ .Name }}{}
		c, mockDB := buildTestClient()
		var expected error

		mockDB.{{ .Name }}DataManager.
			On("Update{{ .Name }}", mock.Anything, exampleInput).
			Return(expected)

		err := c.Update{{ .Name }}(context.Background(), exampleInput)
		assert.NoError(t, err)
	})
}

func TestClient_Archive{{ .Name }}(T *testing.T) {
	T.Parallel()

	T.Run("obligatory", func(t *testing.T) {
		exampleUserID := uint64(123)
		example{{ .Name }}ID := uint64(123)
		var expected error

		c, mockDB := buildTestClient()
		mockDB.{{ .Name }}DataManager.On("Archive{{ .Name }}", mock.Anything, example{{ .Name }}ID, exampleUserID).
			Return(expected)

		err := c.Archive{{ .Name }}(context.Background(), exampleUserID, example{{ .Name }}ID)
		assert.NoError(t, err)
	})
}
