syntax = "proto3";

package {{ .Domain.Name }};

option go_package = "{{ .Project.ProjectMeta.Module }}/internal/grpc/generated/services/{{ .Domain.Name }}";

import "google/protobuf/timestamp.proto";

message {{ .Entity.Name }} {
  string id = 1;
{{- $fieldNum := 1 }}
{{- range $i, $f := .Entity.Fields }}
  {{ if $f.IsPointer }}optional {{ end }}{{ protoType $f.Type }} {{ snake $f.Name }} = {{ add $i 2 }};
{{- end }}
  google.protobuf.Timestamp created_at = {{ add (len .Entity.Fields) 2 }};
  optional google.protobuf.Timestamp last_updated_at = {{ add (len .Entity.Fields) 3 }};
  optional google.protobuf.Timestamp archived_at = {{ add (len .Entity.Fields) 4 }};
{{- if .Entity.CreatedByUser }}
  string created_by_user = {{ add (len .Entity.Fields) 5 }};
{{- end }}
{{- if .Entity.BelongsToAccount }}
  string belongs_to_account = {{ add (len .Entity.Fields) 6 }};
{{- end }}
}

message {{ .Entity.Name }}CreationRequestInput {
{{- range $i, $f := creatableFields .Entity.Fields }}
  {{ if $f.IsPointer }}optional {{ end }}{{ protoType $f.Type }} {{ snake $f.Name }} = {{ add $i 1 }};
{{- end }}
}

message {{ .Entity.Name }}UpdateRequestInput {
{{- range $i, $f := editableFields .Entity.Fields }}
  optional {{ protoType $f.Type }} {{ snake $f.Name }} = {{ add $i 1 }};
{{- end }}
}
