package webhooks

import (
	"database/sql"

	"{{ .Project.ProjectMeta.Module }}/internal/domain/audit"
	"{{ .Project.ProjectMeta.Module }}/internal/domain/webhooks"
	"{{ .Project.ProjectMeta.Module }}/internal/repositories/postgres/webhooks/generated"

	"github.com/primandproper/platform/database"
	"github.com/primandproper/platform/observability/logging"
	"github.com/primandproper/platform/observability/tracing"
)

const (
	o11yName = "webhook_db_client"
)

// repository is the webhook repository client.
type repository struct {
	database.Client
	tracer            tracing.Tracer
	logger            logging.Logger
	generatedQuerier  generated.Querier
	auditLogEntryRepo audit.Repository
	readDB            *sql.DB
	writeDB           *sql.DB
}

// ProvideWebhooksRepository provides a new repository.
func ProvideWebhooksRepository(
	logger logging.Logger,
	tracerProvider tracing.TracerProvider,
	auditLogEntryRepo audit.Repository,
	client database.Client,
) webhooks.Repository {
	c := &repository{
		Client:            client,
		readDB:            client.ReadDB(),
		writeDB:           client.WriteDB(),
		tracer:            tracing.NewNamedTracer(tracerProvider, o11yName),
		generatedQuerier:  generated.New(),
		auditLogEntryRepo: auditLogEntryRepo,
		logger:            logging.NewNamedLogger(logger, o11yName),
	}

	return c
}
