package keys

const (
	idSuffix = ".id"

	// {{ .Entity.Name }}IDKey is the standard key for referring to {{ withArticle .Entity.Name }} ID.
	{{ .Entity.Name }}IDKey = "{{ snake .Entity.Name }}" + idSuffix
)
