package keys

const (
	idSuffix = ".id"
{{- range .Domain.Entities }}

	// {{ .Name }}IDKey is the standard key for referring to {{ withArticle .Name }} ID.
	{{ .Name }}IDKey = "{{ snake .Name }}" + idSuffix
{{- end }}
)
