package internalops

import (
	"database/sql"

	"{{ .Project.ProjectMeta.Module }}/internal/domain/internalops"
	"{{ .Project.ProjectMeta.Module }}/internal/repositories/postgres/internalops/generated"

	"{{ .Project.ProjectMeta.PlatformModule }}/database"
	"{{ .Project.ProjectMeta.PlatformModule }}/observability/logging"
	"{{ .Project.ProjectMeta.PlatformModule }}/observability/tracing"
)

const (
	o11yName = "internalops_db_client"
)

type repository struct {
	database.Client
	tracer           tracing.Tracer
	logger           logging.Logger
	generatedQuerier generated.Querier
	readDB           *sql.DB
	writeDB          *sql.DB
}

// ProvideInternalOpsRepository provides a new repository.
func ProvideInternalOpsRepository(logger logging.Logger, tracerProvider tracing.TracerProvider, client database.Client) internalops.InternalOpsDataManager {
	c := &repository{
		Client:           client,
		readDB:           client.ReadDB(),
		writeDB:          client.WriteDB(),
		tracer:           tracing.NewNamedTracer(tracerProvider, o11yName),
		generatedQuerier: generated.New(),
		logger:           logging.NewNamedLogger(logger, o11yName),
	}

	return c
}
