package main

import (
	"context"
	"math/rand"
	"net/http"

	client "{{ .OutputRepository }}/client/v1/http"
	"{{ .OutputRepository }}/models/v1"
	randmodel "{{ .OutputRepository }}/tests/v1/testutil/rand/model"
)

// fetchRandom{{ camelcase .Name }} retrieves a random {{ lower .Name }} from the list of available {{ lower .Name }}s
func fetchRandom{{ camelcase .Name }}(c *client.V1Client) *models.{{ camelcase .Name }} {
	{{ lower .Name }}sRes, err := c.Get{{ camelcase .Name }}s(context.Background(), nil)
	if err != nil || {{ lower .Name }}sRes == nil || len({{ lower .Name }}sRes.{{ camelcase .Name }}s) == 0 {
		return nil
	}

	randIndex := rand.Intn(len({{ lower .Name }}sRes.{{ camelcase .Name }}s))
	return &{{ lower .Name }}sRes.{{ camelcase .Name }}s[randIndex]
}

func build{{ camelcase .Name }}Actions(c *client.V1Client) map[string]*Action {
	return map[string]*Action{
		"Create{{ camelcase .Name }}": {
			Name: "Create{{ camelcase .Name }}",
			Action: func() (*http.Request, error) {
				return c.BuildCreate{{ camelcase .Name }}Request(context.Background(), randmodel.Random{{ camelcase .Name }}CreationInput())
			},
			Weight: 100,
		},
		"Get{{ camelcase .Name }}": {
			Name: "Get{{ camelcase .Name }}",
			Action: func() (*http.Request, error) {
				if random{{ camelcase .Name }} := fetchRandom{{ camelcase .Name }}(c); random{{ camelcase .Name }} != nil {
					return c.BuildGet{{ camelcase .Name }}Request(context.Background(), random{{ camelcase .Name }}.ID)
				}
				return nil, ErrUnavailableYet
			},
			Weight: 100,
		},
		"Get{{ camelcase .Name }}s": {
			Name: "Get{{ camelcase .Name }}s",
			Action: func() (*http.Request, error) {
				return c.BuildGet{{ camelcase .Name }}sRequest(context.Background(), nil)
			},
			Weight: 100,
		},
		"Update{{ camelcase .Name }}": {
			Name: "Update{{ camelcase .Name }}",
			Action: func() (*http.Request, error) {
				if random{{ camelcase .Name }} := fetchRandom{{ camelcase .Name }}(c); random{{ camelcase .Name }} != nil {
					random{{ camelcase .Name }}.Name = randmodel.Random{{ camelcase .Name }}CreationInput().Name
					return c.BuildUpdate{{ camelcase .Name }}Request(context.Background(), random{{ camelcase .Name }})
				}
				return nil, ErrUnavailableYet
			},
			Weight: 100,
		},
		"Archive{{ camelcase .Name }}": {
			Name: "Archive{{ camelcase .Name }}",
			Action: func() (*http.Request, error) {
				if random{{ camelcase .Name }} := fetchRandom{{ camelcase .Name }}(c); random{{ camelcase .Name }} != nil {
					return c.BuildArchive{{ camelcase .Name }}Request(context.Background(), random{{ camelcase .Name }}.ID)
				}
				return nil, ErrUnavailableYet
			},
			Weight: 85,
		},
	}
}
