package model

import (
	"{{ .OutputRepository }}/models/v1"


)

// Random{{ .Name }}CreationInput creates a random {{ .Name }}Input
func Random{{ .Name }}CreationInput() *models.{{ .Name }}CreationInput {
	x := &models.{{ .Name }}CreationInput{
		{{ range $i, $field := .Fields }}
		{{ pascal $field.Name }}: {{ typeExample $field.Type $field.Pointer }},
		{{ end }}
	}

	return x
}
