package model

import (
	"{{ .OutputRepository }}/models/v1"


)

// Random{{ camelcase .Name }}CreationInput creates a random {{ camelcase .Name }}Input
func Random{{ camelcase .Name }}CreationInput() *models.{{ camelcase .Name }}CreationInput {
	x := &models.{{ camelcase .Name }}CreationInput{
		{{ range $i, $field := .Fields }}
		{{ pascal $field.Name }}: {{ typeExample $field.Type $field.Pointer }},
		{{ end }}
	}

	return x
}
