FROM golang:alpine

WORKDIR /go/src/{{ .BasePackage }}/{{ .ProjectName }}

RUN apk add --update gcc musl-dev

ADD . .

ENTRYPOINT [ "go", "test", "-v", "{{ .BasePackage }}/{{ .ProjectName }}/tests/integration/v1" ]
