---
apiVersion: v1
kind: Service
metadata:
  name: {{ .Project.ProjectMeta.Kebab }}-consumer-webapp-svc
  labels:
    app: {{ .Project.ProjectMeta.Kebab }}-consumer-webapp
    app.kubernetes.io/name: {{ .Project.ProjectMeta.Kebab }}-consumer-webapp
spec:
  selector:
    app.kubernetes.io/name: {{ .Project.ProjectMeta.Kebab }}-consumer-webapp
  ports:
    - name: http
      port: 80
      protocol: TCP
      targetPort: 3000
  type: ClusterIP
---
