package sqlite

import (
	"context"
	"database/sql"
	"sync"

	"{{ .OutputRepository }}/database/v1"
	"{{ .OutputRepository }}/internal/logging/v1"
	"{{ .OutputRepository }}/models/v1"

	"github.com/Masterminds/squirrel"
	"github.com/pkg/errors"
)

const (
	{{ camelCase .Name }}sTableName = "{{ snakecase .Name }}s"
)

var (
	{{ camelCase .Name }}sTableColumns = []string{
		"id",
		{{ range $j, $field := .Fields }}
			"{{ snakecase $field.Name }}",
		{{ end }}
		"created_on",
		"updated_on",
		"archived_on",
		"belongs_to",
	}
)

// scan{{ .Name }} takes a database Scanner (i.e. *sql.Row) and scans
// the result into an {{ .Name }} struct
func scan{{ .Name }}(scan database.Scanner) (*models.{{ .Name }}, error) {
	x := &models.{{ .Name }}{}

	if err := scan.Scan(
		&x.ID,
		{{ range $j, $field := .Fields }}
			&x.{{ pascal $field.Name }},
		{{ end }}
		&x.CreatedOn,
		&x.UpdatedOn,
		&x.ArchivedOn,
		&x.BelongsTo,
	); err != nil {
		return nil, err
	}

	return x, nil
}

// scan{{ .Name }}s takes a logger and some database rows and turns them into a slice of {{ camelCase .Name }}s
func scan{{ .Name }}s(logger logging.Logger, rows *sql.Rows) ([]models.{{ .Name }}, error) {
	var list []models.{{ .Name }}

	for rows.Next() {
		x, err := scan{{ .Name }}(rows)
		if err != nil {
			return nil, err
		}
		list = append(list, *x)
	}

	if err := rows.Err(); err != nil {
		return nil, err
	}

	if closeErr := rows.Close(); closeErr != nil {
		logger.Error(closeErr, "closing database rows")
	}

	return list, nil
}

// buildGet{{ .Name }}Query constructs a SQL query for fetching an {{ camelCase .Name }} with a given ID belong to a user with a given ID.
func (s *Sqlite) buildGet{{ .Name }}Query({{ camelCase .Name }}ID, userID uint64) (query string, args []interface{}) {
	var err error
	query, args, err = s.sqlBuilder.
		Select({{ camelCase .Name }}sTableColumns...).
		From({{ camelCase .Name }}sTableName).
		Where(squirrel.Eq{
			"id":         {{ camelCase .Name }}ID,
			"belongs_to": userID,
		}).
		ToSql()

	s.logQueryBuildingError(err)

	return query, args
}

// Get{{ .Name }} fetches an {{ camelCase .Name }} from the sqlite database
func (s *Sqlite) Get{{ .Name }}(ctx context.Context, {{ camelCase .Name }}ID, userID uint64) (*models.{{ .Name }}, error) {
	query, args := s.buildGet{{ .Name }}Query({{ camelCase .Name }}ID, userID)
	row := s.db.QueryRowContext(ctx, query, args...)
	return scan{{ .Name }}(row)
}

// buildGet{{ .Name }}CountQuery takes a QueryFilter and a user ID and returns a SQL query (and the relevant arguments) for
// fetching the number of {{ camelCase .Name }}s belonging to a given user that meet a given query
func (s *Sqlite) buildGet{{ .Name }}CountQuery(filter *models.QueryFilter, userID uint64) (query string, args []interface{}) {
	var err error
	builder := s.sqlBuilder.
		Select(CountQuery).
		From({{ camelCase .Name }}sTableName).
		Where(squirrel.Eq{
			"archived_on": nil,
			"belongs_to":  userID,
		})

	if filter != nil {
		builder = filter.ApplyToQueryBuilder(builder)
	}

	query, args, err = builder.ToSql()
	s.logQueryBuildingError(err)

	return query, args
}

// Get{{ .Name }}Count will fetch the count of {{ camelCase .Name }}s from the database that meet a particular filter and belong to a particular user.
func (s *Sqlite) Get{{ .Name }}Count(ctx context.Context, filter *models.QueryFilter, userID uint64) (count uint64, err error) {
	query, args := s.buildGet{{ .Name }}CountQuery(filter, userID)
	err = s.db.QueryRowContext(ctx, query, args...).Scan(&count)
	return count, err
}

var (
	all{{ .Name }}sCountQueryBuilder sync.Once
	all{{ .Name }}sCountQuery        string
)

// buildGetAll{{ .Name }}sCountQuery returns a query that fetches the total number of {{ camelCase .Name }}s in the database.
// This query only gets generated once, and is otherwise returned from cache.
func (s *Sqlite) buildGetAll{{ .Name }}sCountQuery() string {
	all{{ .Name }}sCountQueryBuilder.Do(func() {
		var err error
		all{{ .Name }}sCountQuery, _, err = s.sqlBuilder.Select(CountQuery).
			From({{ camelCase .Name }}sTableName).
			Where(squirrel.Eq{"archived_on": nil}).
			ToSql()
		s.logQueryBuildingError(err)
	})

	return all{{ .Name }}sCountQuery
}

// GetAll{{ .Name }}sCount will fetch the count of {{ camelCase .Name }}s from the database
func (s *Sqlite) GetAll{{ .Name }}sCount(ctx context.Context) (count uint64, err error) {
	err = s.db.QueryRowContext(ctx, s.buildGetAll{{ .Name }}sCountQuery()).Scan(&count)
	return count, err
}

// buildGet{{ .Name }}sQuery builds a SQL query selecting {{ camelCase .Name }}s that adhere to a given QueryFilter and belong to a given user,
// and returns both the query and the relevant args to pass to the query executor.
func (s *Sqlite) buildGet{{ .Name }}sQuery(filter *models.QueryFilter, userID uint64) (query string, args []interface{}) {
	var err error
	builder := s.sqlBuilder.
		Select({{ camelCase .Name }}sTableColumns...).
		From({{ camelCase .Name }}sTableName).
		Where(squirrel.Eq{
			"archived_on": nil,
			"belongs_to":  userID,
		})

	if filter != nil {
		builder = filter.ApplyToQueryBuilder(builder)
	}

	query, args, err = builder.ToSql()
	s.logQueryBuildingError(err)

	return query, args
}

// Get{{ .Name }}s fetches a list of {{ camelCase .Name }}s from the database that meet a particular filter
func (s *Sqlite) Get{{ .Name }}s(ctx context.Context, filter *models.QueryFilter, userID uint64) (*models.{{ .Name }}List, error) {
	query, args := s.buildGet{{ .Name }}sQuery(filter, userID)

	rows, err := s.db.QueryContext(ctx, query, args...)
	if err != nil {
		return nil, buildError(err, "querying database for {{ camelCase .Name }}s")
	}

	list, err := scan{{ .Name }}s(s.logger, rows)
	if err != nil {
		return nil, errors.Wrap(err, "scanning response from database")
	}

	count, err := s.Get{{ .Name }}Count(ctx, filter, userID)
	if err != nil {
		return nil, errors.Wrap(err, "fetching {{ camelCase .Name }} count")
	}

	x := &models.{{ .Name }}List{
		Pagination: models.Pagination{
			Page:       filter.Page,
			Limit:      filter.Limit,
			TotalCount: count,
		},
		{{ .Name }}s: list,
	}

	return x, nil
}

// GetAll{{ .Name }}sForUser fetches every {{ camelCase .Name }} belonging to a user
func (s *Sqlite) GetAll{{ .Name }}sForUser(ctx context.Context, userID uint64) ([]models.{{ .Name }}, error) {
	query, args := s.buildGet{{ .Name }}sQuery(nil, userID)

	rows, err := s.db.QueryContext(ctx, query, args...)
	if err != nil {
		return nil, buildError(err, "fetching {{ camelCase .Name }}s for user")
	}

	list, err := scan{{ .Name }}s(s.logger, rows)
	if err != nil {
		return nil, errors.Wrap(err, "parsing database results")
	}

	return list, nil
}

// buildCreate{{ .Name }}Query takes an {{ camelCase .Name }} and returns a creation query for that {{ camelCase .Name }} and the relevant arguments.
func (s *Sqlite) buildCreate{{ .Name }}Query(input *models.{{ .Name }}) (query string, args []interface{}) {
	var err error
	query, args, err = s.sqlBuilder.
		Insert({{ camelCase .Name }}sTableName).
		Columns(
			"name",
			"details",
			"belongs_to",
		).
		Values(
			input.Name,
			input.Details,
			input.BelongsTo,
		).
		ToSql()

	s.logQueryBuildingError(err)

	return query, args
}

// buildCreate{{ .Name }}Query takes an {{ camelCase .Name }} and returns a creation query for that {{ camelCase .Name }} and the relevant arguments.
func (s *Sqlite) build{{ .Name }}CreationTimeQuery({{ camelCase .Name }}ID uint64) (query string, args []interface{}) {
	var err error

	query, args, err = s.sqlBuilder.
		Select("created_on").
		From({{ camelCase .Name }}sTableName).
		Where(squirrel.Eq{"id": {{ camelCase .Name }}ID}).
		ToSql()
	s.logQueryBuildingError(err)

	return query, args
}

// Create{{ .Name }} creates an {{ camelCase .Name }} in the database
func (s *Sqlite) Create{{ .Name }}(ctx context.Context, input *models.{{ .Name }}CreationInput) (*models.{{ .Name }}, error) {
	x := &models.{{ .Name }}{
		Name:      input.Name,
		Details:   input.Details,
		BelongsTo: input.BelongsTo,
	}

	query, args := s.buildCreate{{ .Name }}Query(x)

	// create the {{ camelCase .Name }}
	res, err := s.db.ExecContext(ctx, query, args...)
	if err != nil {
		return nil, errors.Wrap(err, "error executing {{ camelCase .Name }} creation query")
	}

	// fetch the last inserted ID
	id, idErr := res.LastInsertId()
	if idErr == nil {
		x.ID = uint64(id)

		query, args := s.build{{ .Name }}CreationTimeQuery(x.ID)
		s.logCreationTimeRetrievalError(s.db.QueryRowContext(ctx, query, args...).Scan(&x.CreatedOn))
	}

	return x, nil
}

// buildUpdate{{ .Name }}Query takes an {{ camelCase .Name }} and returns an update SQL query, with the relevant query parameters
func (s *Sqlite) buildUpdate{{ .Name }}Query(input *models.{{ .Name }}) (query string, args []interface{}) {
	var err error
	query, args, err = s.sqlBuilder.Update({{ camelCase .Name }}sTableName).
		{{ range $j, $field := .Fields }}
			{{ if $field.ValidForUpdateInput }}
				Set("{{ snakecase $field.Name }}", input.{{ pascal $field.Name }}).
			{{ end }}
		{{ end }}
		Set("updated_on", squirrel.Expr(CurrentUnixTimeQuery)).
		Where(squirrel.Eq{
			"id":         input.ID,
			"belongs_to": input.BelongsTo,
		}).
		ToSql()

	s.logQueryBuildingError(err)

	return query, args
}

// Update{{ .Name }} updates a particular {{ camelCase .Name }}. Note that Update{{ .Name }} expects the provided input to have a valid ID.
func (s *Sqlite) Update{{ .Name }}(ctx context.Context, input *models.{{ .Name }}) error {
	query, args := s.buildUpdate{{ .Name }}Query(input)
	_, err := s.db.ExecContext(ctx, query, args...)
	return err
}

// buildArchive{{ .Name }}Query returns a SQL query which marks a given {{ camelCase .Name }} belonging to a given user as archived.
func (s *Sqlite) buildArchive{{ .Name }}Query({{ camelCase .Name }}ID, userID uint64) (query string, args []interface{}) {
	var err error
	query, args, err = s.sqlBuilder.
		Update({{ camelCase .Name }}sTableName).
		Set("updated_on", squirrel.Expr(CurrentUnixTimeQuery)).
		Set("archived_on", squirrel.Expr(CurrentUnixTimeQuery)).
		Where(squirrel.Eq{
			"id":          {{ camelCase .Name }}ID,
			"archived_on": nil,
			"belongs_to":  userID,
		}).
		ToSql()

	s.logQueryBuildingError(err)

	return query, args
}

// Archive{{ .Name }} marks an {{ camelCase .Name }} as archived in the database
func (s *Sqlite) Archive{{ .Name }}(ctx context.Context, {{ camelCase .Name }}ID, userID uint64) error {
	query, args := s.buildArchive{{ .Name }}Query({{ camelCase .Name }}ID, userID)
	_, err := s.db.ExecContext(ctx, query, args...)

	return err
}
