<script>
  import { Router, Link, Route } from "svelte-routing";
  import Home from "./pages/Home.svelte";

  // Auth routes
  import Login from "./pages/Login.svelte";
  import Register from "./pages/Register.svelte";
  import ChangePassword from "./pages/ChangePassword.svelte";

  export let url = "";
</script>

<!-- App.svelte -->

<Router {url}>
  <nav style="text-align: center;">
    <Link to="/">Home Page</Link>
    <Link to="webhooks">Webhooks</Link>
    <Link to="login">Login</Link>
    <Link to="register">Register</Link>
    <Link to="password/new">Change Password</Link>
  </nav>
  <div>
    <Route path="login" component={Login} />
    <Route path="register" component={Register} />
    <Route path="password/new" component={ChangePassword} />
    <Route path="/">
      <Home />
    </Route>
  </div>
</Router>
