<script>
  import { Router, Link, Route } from "svelte-routing";
  import Home from "./pages/Home.svelte";

  // Auth routes
  import Login from "./pages/Login.svelte";
  import Register from "./pages/Register.svelte";
  import ChangePassword from "./pages/ChangePassword.svelte";{{ range $i, $dt := .DataTypes }}
  // {{ pascal $dt.Name }} routes
  import Read{{ pascal $dt.Name }} from "./pages/{{ lower $dt.Name }}s/Read.svelte";
  import Create{{ pascal $dt.Name }} from "./pages/{{ lower $dt.Name }}s/Create.svelte";
  import {{ pascal $dt.Name }}s from "./pages/{{ lower $dt.Name }}s/List.svelte";
{{ end }}

  export let url = "";
</script>

<!-- App.svelte -->

<Router {url}>
  <nav style="text-align: center;">
    <Link to="/">Home Page</Link>{{ range $i, $dt := .DataTypes }}
	<Link to="{{ snakecase $dt.Name }}s">{{ pascal $dt.Name }}s</Link>
	<Link to="{{ snakecase $dt.Name }}s/new">Create {{ pascal $dt.Name }}</Link>
{{ end }}
    <Link to="webhooks">Webhooks</Link>
    <Link to="login">Login</Link>
    <Link to="register">Register</Link>
    <Link to="password/new">Change Password</Link>
  </nav>
  <div>{{ range $i, $dt := .DataTypes }}
    <Route path="{{ snakecase $dt.Name }}s" component={ {{ pascal $dt.Name }}s } />
    <Route path="{{ snakecase $dt.Name }}s/:id" component={ Read{{ pascal $dt.Name }} } />
    <Route path="{{ snakecase $dt.Name }}s/new" component={ Create{{ pascal $dt.Name }} } />
{{ end }}
    <Route path="login" component={Login} />
    <Route path="register" component={Register} />
    <Route path="password/new" component={ChangePassword} />
    <Route path="/">
      <Home />
    </Route>
  </div>
</Router>
