package frontend

import (
	"testing"

	"{{ .OutputRepository }}/internal/config/v1"
	"{{ .OutputRepository }}/internal/logging/v1/noop"
)

func TestProvideFrontendService(T *testing.T) {
	T.Parallel()

	T.Run("obligatory", func(t *testing.T) {
		ProvideFrontendService(noop.ProvideNoopLogger(), config.FrontendSettings{})
	})
}
