package client

import (
	"context"
	"encoding/json"
	"fmt"
	"net/http"
	"net/http/httptest"
	"strconv"
	"strings"
	"testing"

	"{{ .OutputRepository }}/models/v1"

	"github.com/stretchr/testify/assert"
	"github.com/stretchr/testify/require"
)

func TestV1Client_BuildGet{{ .SingularTitlecase }}Request(T *testing.T) {
	T.Parallel()

	T.Run("happy path", func(t *testing.T) {
		expectedMethod := http.MethodGet
		ctx := context.Background()

		ts := httptest.NewTLSServer(nil)
		c := buildTestClient(t, ts)
		expectedID := uint64(1)

		actual, err := c.BuildGet{{ .SingularTitlecase }}Request(ctx, expectedID)

		require.NotNil(t, actual)
		assert.NoError(t, err, "no error should be returned")
		assert.True(t, strings.HasSuffix(actual.URL.String(), fmt.Sprintf("%d", expectedID)))
		assert.Equal(t,
			actual.Method,
			expectedMethod,
			"request should be a %s request",
			expectedMethod,
		)
	})
}

func TestV1Client_Get{{ .SingularTitlecase }}(T *testing.T) {
	T.Parallel()

	T.Run("happy path", func(t *testing.T) {
		expected := &models.{{ .SingularTitlecase }}{
			ID:      1,
			Name:    "example",
			Details: "blah",
		}

		ctx := context.Background()

		ts := httptest.NewTLSServer(
			http.HandlerFunc(
				func(res http.ResponseWriter, req *http.Request) {
					assert.True(t,
						strings.HasSuffix(
							req.URL.String(),
							strconv.Itoa(int(expected.ID)),
						),
					)
					assert.Equal(t, req.URL.Path, fmt.Sprintf("/api/v1/{{ .PluralLowercase }}/%d", expected.ID), "expected and actual path don't match")
					assert.Equal(t, req.Method, http.MethodGet)
					require.NoError(t, json.NewEncoder(res).Encode(expected))
				},
			),
		)

		c := buildTestClient(t, ts)

		actual, err := c.Get{{ .SingularTitlecase }}(ctx, expected.ID)

		require.NotNil(t, actual)
		assert.NoError(t, err, "no error should be returned")
		assert.Equal(t, expected, actual)
	})
}

func TestV1Client_BuildGet{{ .PluralTitlecase }}Request(T *testing.T) {
	T.Parallel()

	T.Run("happy path", func(t *testing.T) {
		expectedMethod := http.MethodGet
		ctx := context.Background()

		ts := httptest.NewTLSServer(nil)

		c := buildTestClient(t, ts)
		actual, err := c.BuildGet{{ .PluralTitlecase }}Request(ctx, nil)

		require.NotNil(t, actual)
		assert.NoError(t, err, "no error should be returned")
		assert.Equal(t,
			actual.Method,
			expectedMethod,
			"request should be a %s request",
			expectedMethod,
		)
	})
}

func TestV1Client_Get{{ .PluralTitlecase }}(T *testing.T) {
	T.Parallel()

	T.Run("happy path", func(t *testing.T) {
		expected := &models.{{ .SingularTitlecase }}List{
			{{ .PluralTitlecase }}: []models.{{ .SingularTitlecase }}{
				{
					ID:      1,
					Name:    "example",
					Details: "blah",
				},
			},
		}

		ctx := context.Background()

		ts := httptest.NewTLSServer(
			http.HandlerFunc(
				func(res http.ResponseWriter, req *http.Request) {
					assert.Equal(t, req.URL.Path, "/api/v1/{{ .PluralLowercase }}", "expected and actual path don't match")
					assert.Equal(t, req.Method, http.MethodGet)
					require.NoError(t, json.NewEncoder(res).Encode(expected))
				},
			),
		)

		c := buildTestClient(t, ts)

		actual, err := c.Get{{ .PluralTitlecase }}(ctx, nil)

		require.NotNil(t, actual)
		assert.NoError(t, err, "no error should be returned")
		assert.Equal(t, expected, actual)
	})
}

func TestV1Client_BuildCreate{{ .SingularTitlecase }}Request(T *testing.T) {
	T.Parallel()

	T.Run("happy path", func(t *testing.T) {
		expectedMethod := http.MethodPost
		ctx := context.Background()

		ts := httptest.NewTLSServer(nil)

		exampleInput := &models.{{ .SingularTitlecase }}CreationInput{
			Name:    "expected name",
			Details: "expected details",
		}
		c := buildTestClient(t, ts)
		actual, err := c.BuildCreate{{ .SingularTitlecase }}Request(ctx, exampleInput)

		require.NotNil(t, actual)
		assert.NoError(t, err, "no error should be returned")
		assert.Equal(t,
			actual.Method,
			expectedMethod,
			"request should be a %s request",
			expectedMethod,
		)
	})
}

func TestV1Client_Create{{ .SingularTitlecase }}(T *testing.T) {
	T.Parallel()

	T.Run("happy path", func(t *testing.T) {
		expected := &models.{{ .SingularTitlecase }}{
			ID:      1,
			Name:    "example",
			Details: "blah",
		}

		exampleInput := &models.{{ .SingularTitlecase }}CreationInput{
			Name:    expected.Name,
			Details: expected.Details,
		}

		ctx := context.Background()

		ts := httptest.NewTLSServer(
			http.HandlerFunc(
				func(res http.ResponseWriter, req *http.Request) {
					assert.Equal(t, req.URL.Path, "/api/v1/{{ .PluralLowercase }}", "expected and actual path don't match")
					assert.Equal(t, req.Method, http.MethodPost)

					var x *models.{{ .SingularTitlecase }}CreationInput
					require.NoError(t, json.NewDecoder(req.Body).Decode(&x))
					assert.Equal(t, exampleInput, x)

					require.NoError(t, json.NewEncoder(res).Encode(expected))
					res.WriteHeader(http.StatusOK)
				},
			),
		)

		c := buildTestClient(t, ts)

		actual, err := c.Create{{ .SingularTitlecase }}(ctx, exampleInput)

		require.NotNil(t, actual)
		assert.NoError(t, err, "no error should be returned")
		assert.Equal(t, expected, actual)
	})
}

func TestV1Client_BuildUpdate{{ .SingularTitlecase }}Request(T *testing.T) {
	T.Parallel()

	T.Run("happy path", func(t *testing.T) {
		expectedMethod := http.MethodPut
		ctx := context.Background()

		exampleInput := &models.{{ .SingularTitlecase }}{
			Name:    "changed name",
			Details: "changed details",
		}

		ts := httptest.NewTLSServer(nil)
		c := buildTestClient(t, ts)
		actual, err := c.BuildUpdate{{ .SingularTitlecase }}Request(ctx, exampleInput)

		require.NotNil(t, actual)
		assert.NoError(t, err, "no error should be returned")
		assert.Equal(t,
			actual.Method,
			expectedMethod,
			"request should be a %s request",
			expectedMethod,
		)
	})
}

func TestV1Client_Update{{ .SingularTitlecase }}(T *testing.T) {
	T.Parallel()

	T.Run("happy path", func(t *testing.T) {
		expected := &models.{{ .SingularTitlecase }}{
			ID:      1,
			Name:    "example",
			Details: "blah",
		}
		ctx := context.Background()

		ts := httptest.NewTLSServer(
			http.HandlerFunc(
				func(res http.ResponseWriter, req *http.Request) {
					assert.Equal(t, req.URL.Path, fmt.Sprintf("/api/v1/{{ .PluralLowercase }}/%d", expected.ID), "expected and actual path don't match")
					assert.Equal(t, req.Method, http.MethodPut)

					res.WriteHeader(http.StatusOK)
				},
			),
		)

		err := buildTestClient(t, ts).Update{{ .SingularTitlecase }}(ctx, expected)

		assert.NoError(t, err, "no error should be returned")
	})
}

func TestV1Client_BuildArchive{{ .SingularTitlecase }}Request(T *testing.T) {
	T.Parallel()

	T.Run("happy path", func(t *testing.T) {
		expectedMethod := http.MethodDelete
		ctx := context.Background()

		ts := httptest.NewTLSServer(nil)

		expectedID := uint64(1)
		c := buildTestClient(t, ts)
		actual, err := c.BuildArchive{{ .SingularTitlecase }}Request(ctx, expectedID)

		require.NotNil(t, actual)
		require.NotNil(t, actual.URL)
		assert.True(t, strings.HasSuffix(actual.URL.String(), fmt.Sprintf("%d", expectedID)))
		assert.NoError(t, err, "no error should be returned")
		assert.Equal(t,
			actual.Method,
			expectedMethod,
			"request should be a %s request",
			expectedMethod,
		)
	})
}

func TestV1Client_Archive{{ .SingularTitlecase }}(T *testing.T) {
	T.Parallel()

	T.Run("happy path", func(t *testing.T) {
		expected := uint64(1)
		ctx := context.Background()

		ts := httptest.NewTLSServer(
			http.HandlerFunc(
				func(res http.ResponseWriter, req *http.Request) {
					assert.Equal(t, req.URL.Path, fmt.Sprintf("/api/v1/{{ .PluralLowercase }}/%d", expected), "expected and actual path don't match")
					assert.Equal(t, req.Method, http.MethodDelete)

					res.WriteHeader(http.StatusOK)
				},
			),
		)

		err := buildTestClient(t, ts).Archive{{ .SingularTitlecase }}(ctx, expected)

		assert.NoError(t, err, "no error should be returned")
	})
}
