package main

import (
	"context"
	"log"
	"os"
	"os/signal"
	"syscall"

	datachangemessagehandler "{{ .Project.ProjectMeta.Module }}/internal/build/functions/data_change_message_handler"
	"{{ .Project.ProjectMeta.Module }}/internal/config"

	_ "go.uber.org/automaxprocs"
)

// nonWebhookEventTypes is the list of service event types that should NOT be
// fanned out to webhook subscribers. Add domain-specific event types here as
// new identity / oauth / etc. events are introduced.
var (
	nonWebhookEventTypes = []string{}
)

func main() {
	config.ConditionallyCease()

	cfg, err := config.LoadConfigFromEnvironment[config.AsyncMessageHandlerConfig]()
	if err != nil {
		log.Fatalf("error getting config: %v", err)
	}
	cfg.Database.RunMigrations = false

	ctx := context.Background()

	dataChangeMessageHandler, err := datachangemessagehandler.Build(ctx, cfg)
	if err != nil {
		log.Fatalf("error building data_change_message_handler: %v", err)
	}

	signalChan := make(chan os.Signal, 1)
	signal.Notify(
		signalChan,
		syscall.SIGHUP,
		syscall.SIGINT,
		syscall.SIGQUIT,
		syscall.SIGTERM,
	)

	stopChan := make(chan bool)
	errorsChan := make(chan error)

	dataChangeMessageHandler.SetNonWebhookEventTypes(nonWebhookEventTypes)

	if err = dataChangeMessageHandler.ConsumeMessages(ctx, stopChan, errorsChan); err != nil {
		log.Fatal(err)
	}

	// os.Interrupt
	<-signalChan

	go func() {
		// os.Kill
		<-signalChan
		stopChan <- true
	}()
}
