// swift-tools-version: 5.9

import PackageDescription

let package = Package(
    name: "{{ .Project.ProjectMeta.IOSModuleName }}",
    platforms: [
        .iOS(.v17),
        .macOS(.v14),
    ],
    dependencies: [
        .package(url: "https://github.com/grpc/grpc-swift.git", from: "1.21.0"),
        .package(url: "https://github.com/grpc/grpc-swift-protobuf.git", from: "1.0.0"),
        .package(url: "https://github.com/apple/swift-protobuf.git", from: "1.25.0"),
    ],
    targets: [
        .executableTarget(
            name: "{{ .Project.ProjectMeta.IOSModuleName }}",
            dependencies: [
                .product(name: "GRPCNIOTransportHTTP2", package: "grpc-swift-nio-transport"),
                .product(name: "GRPCProtobuf", package: "grpc-swift-protobuf"),
                .product(name: "SwiftProtobuf", package: "swift-protobuf"),
            ],
            path: "Sources/{{ .Project.ProjectMeta.IOSModuleName }}"
        ),
        .testTarget(
            name: "{{ .Project.ProjectMeta.IOSModuleName }}Tests",
            dependencies: [
                .target(name: "{{ .Project.ProjectMeta.IOSModuleName }}"),
            ],
            path: "Tests/{{ .Project.ProjectMeta.IOSModuleName }}Tests"
        ),
    ]
)
