package authorization

const (
	// Create{{ plural .Entity.Name }}Permission is a permission for creating {{ pluralHumanReadable .Entity.Name }}.
	Create{{ plural .Entity.Name }}Permission Permission = "create.{{ pluralSnake .Entity.Name }}"
	// Read{{ plural .Entity.Name }}Permission is a permission for reading {{ pluralHumanReadable .Entity.Name }}.
	Read{{ plural .Entity.Name }}Permission Permission = "read.{{ pluralSnake .Entity.Name }}"
	// Update{{ plural .Entity.Name }}Permission is a permission for updating {{ pluralHumanReadable .Entity.Name }}.
	Update{{ plural .Entity.Name }}Permission Permission = "update.{{ pluralSnake .Entity.Name }}"
	// Archive{{ plural .Entity.Name }}Permission is a permission for archiving {{ pluralHumanReadable .Entity.Name }}.
	Archive{{ plural .Entity.Name }}Permission Permission = "archive.{{ pluralSnake .Entity.Name }}"
)

var (
	// {{ plural .Entity.Name }}Permissions contains all {{ humanReadable .Entity.Name }}-related permissions.
	{{ plural .Entity.Name }}Permissions = []Permission{
		Create{{ plural .Entity.Name }}Permission,
		Read{{ plural .Entity.Name }}Permission,
		Update{{ plural .Entity.Name }}Permission,
		Archive{{ plural .Entity.Name }}Permission,
	}
)
