package mealplangrocerylistinitializer

import (
	"context"

	"{{ .Project.ProjectMeta.Module }}/internal/domain/mealplanning"
	"{{ .Project.ProjectMeta.Module }}/internal/domain/mealplanning/grocerylistpreparation"

	"{{ .Project.ProjectMeta.PlatformModule }}/messagequeue"
	msgconfig "{{ .Project.ProjectMeta.PlatformModule }}/messagequeue/config"
	"{{ .Project.ProjectMeta.PlatformModule }}/observability/logging"
	"{{ .Project.ProjectMeta.PlatformModule }}/observability/metrics"
	"{{ .Project.ProjectMeta.PlatformModule }}/observability/tracing"

	"github.com/samber/do/v2"
)

// RegisterMealPlanGroceryListInitializer registers the meal plan grocery list initializer with the injector.
func RegisterMealPlanGroceryListInitializer(i do.Injector) {
	do.Provide[*Worker](i, func(i do.Injector) (*Worker, error) {
		return NewMealPlanGroceryListInitializer(
			do.MustInvoke[context.Context](i),
			do.MustInvoke[logging.Logger](i),
			do.MustInvoke[tracing.TracerProvider](i),
			do.MustInvoke[metrics.Provider](i),
			do.MustInvoke[messagequeue.PublisherProvider](i),
			do.MustInvoke[mealplanning.Repository](i),
			do.MustInvoke[grocerylistpreparation.GroceryListCreator](i),
			do.MustInvoke[*msgconfig.QueuesConfig](i),
		)
	})
}
