package {{ .Domain.Name }}

import (
	"database/sql"

{{- if ne .Domain.Name "audit" }}
	"{{ .Project.ProjectMeta.Module }}/internal/domain/audit"
{{- end }}
	"{{ .Project.ProjectMeta.Module }}/internal/domain/{{ .Domain.Name }}"
	"{{ .Project.ProjectMeta.Module }}/internal/repositories/postgres/{{ .Domain.Name }}/generated"

	"{{ .Project.ProjectMeta.PlatformModule }}/database"
	"{{ .Project.ProjectMeta.PlatformModule }}/observability/logging"
	"{{ .Project.ProjectMeta.PlatformModule }}/observability/tracing"
)

const (
	o11yName = "{{ snake .Entity.Name }}_db_client"
)

// repository is the {{ .Domain.Name }} repository client.
type repository struct {
	database.Client
	tracer            tracing.Tracer
	logger            logging.Logger
	generatedQuerier  generated.Querier
{{- if ne .Domain.Name "audit" }}
	auditLogEntryRepo audit.Repository
{{- end }}
	readDB            *sql.DB
	writeDB           *sql.DB
}

// Provide{{ .Domain.RepoTypeName }}Repository provides a new repository.
func Provide{{ .Domain.RepoTypeName }}Repository(
	logger logging.Logger,
	tracerProvider tracing.TracerProvider,
{{- if ne .Domain.Name "audit" }}
	auditLogEntryRepo audit.Repository,
{{- end }}
	client database.Client,
) {{ .Domain.Name }}.Repository {
	c := &repository{
		Client:            client,
		readDB:            client.ReadDB(),
		writeDB:           client.WriteDB(),
		tracer:            tracing.NewNamedTracer(tracerProvider, o11yName),
		generatedQuerier:  generated.New(),
{{- if ne .Domain.Name "audit" }}
		auditLogEntryRepo: auditLogEntryRepo,
{{- end }}
		logger:            logging.NewNamedLogger(logger, o11yName),
	}

	return c
}
